*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    width: 100vw;
    font-family: system-ui, sans-serif;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    /* background-color: rgb(100, 65, 65); */
    height: 100%;
    width: 100%;
    background-color: antiquewhite;

}

.main-top {
    height: 60vh;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
}

.main-bottom {
    height: 40vh;
    width: 100%;
    /* background-color: rgb(159, 150, 138); */
    display: flex;
    justify-content: space-around;
    padding: 2vw;

}

.top-left {
    width: 40vw;
    height: 100%;
    /* background-color: rgb(173, 129, 72); */
    padding: 5vw;
}

.top-left h1 {
    font-size: 2.5vw;
}

.top-left p {
    font-size: 1.1vw;
    width: 25vw;
    margin-top: 2vh;
    color: rgba(0, 0, 0, 0.566);
}

.top-left button {
    font-size: 1.1vw;
    background-color: black;
    color: white;
    padding: 1vh 2vw;
    border-radius: 1vw;
    margin-top: 2vh;
}

.top-right {
    width: 60vw;
    height: 100%;
    /* background-color: rgb(95, 84, 70); */
    display: flex;
    justify-content: space-around;
    padding: 2vw;
}

.tr-left {
    /* background-color: red; */
    width: 40%;
    height: 100%;
    border-radius: 2vw;
  background-image: url("/responsive-landing-page-02/Images/1.jpg");
    background-size: cover;
    background-position: center;
}

.tr-right {
    /* background-color: rgb(149, 106, 106); */
    width: 40%;
    height: 100%;
    border-radius: 2vw;
    background-image: url("/responsive-landing-page-02/Images/2.jpg");
    background-size: cover;
    background-position: center
}

.first {
    height: 100%;
    width: 25%;
    /* background-color: aliceblue; */
    border-radius: 1vw;
    background-image: url;
      background-image: url("/responsive-landing-page-02/Images/3.jpg");
    background-size: cover;
    background-position: center
}

.second {
    height: 100%;
    width: 25%;
    /* background-color: bisque; */
    border-radius: 1vw;
      background-image: url("/responsive-landing-page-02/Images/4.jpg");
    background-size: cover;
    background-position: center
}

.third {
    height: 100%;
    width: 25%;
    /* background-color: aquamarine; */
    border-radius: 1vw;
      background-image: url("/responsive-landing-page-02/Images/5.jpg");
    background-size: cover;
    background-position: center
}

@media (max-width:550px) {
    main {
        min-height: 100%;
    }

    .main-top {
        width: 100%;
        flex-direction: column;
        min-height: 120vh;
        gap: 2vh;
    }

    .main-bottom {
        flex-direction: column;
        min-height: 190vh;
    }

    .first {
        width: 100%;
    }

    .second {
        width: 100%;
    }

    .third {
        width: 100%;
    }

    .top-left {
        width: 100vw;
        /* background-color: red; */
    }

    .top-left h1 {
        width: 90vw;
        font-size: 7vw;


    }

    .top-left p {
        width: 90vw;
        font-size: 3.5vw;


    }

    .top-left button {
        font-size: 3vw;
        padding: 2vh 3vw;
        border-radius: 3vw;
    }

    .top-right {
        flex-direction: column;
    }

    .tr-left {
        width: 100vw;
        /* background-color: aqua; */
        height: 200px;
    }

    .tr-right {
        width: 100vw;
        height: 200px;
    }

}

@media (min-width: 551px) and (max-width:1048px) {
    .top-left{
        /* background-color: red; */
        width: 100%;
    }
    .top-left h1{
        font-size: 4vw;
    }
    .top-left p{
        font-size: 2vw;
        width: 100%;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .top-left button{
        font-size:2.5vw;
        padding: 1.5vh 3vw;
    }
    .main-top{
        flex-direction: column;
        min-height: 100vh;
    }
    .top-right{
        width: 100%;
    }
    .tr-left{
        width: 40vw;
    }
    .tr-right{
        width: 40vw;
    }
}
